<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="http://101.96.128.94:9999/img/header/logo.png" slot="start">
    </ion-img>
    <ion-searchbar placeholder="商品名"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="res">
  <ion-slides
    pager
    [options]="{loop:true,autoplay:{
    disableOnInteraction:false
  }}"
  >
    <ion-slide *ngFor="let item of res.carouselItems; let i=index">
      <img src="http://101.96.128.94:9999/{{item.img}}" alt="" />
    </ion-slide>
  </ion-slides>
  <ion-item>
    <ion-icon slot="start" name="desktop-outline"></ion-icon>
    <ion-label>首页推荐/1F</ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of res.topSaleItems; let i=index">
        <ion-card>
          <img
            src="http://101.96.128.94:9999/{{item.pic}}"
            alt=""
            width="100%"
          />
          <ion-card-header>
            <ion-card-title>{{item.title}}</ion-card-title>
            <ion-card-subtitle>{{item.details}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="primary">￥{{item.price}}</ion-label>
            <ion-button [routerLink]="['/detail',{lid:item.pid}]">
              查看详情
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-icon slot="start" name="desktop-outline"></ion-icon>
    <ion-label>最新上架/2F</ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of res.newArrivalItems; let i=index">
        <ion-card>
          <img
            src="http://101.96.128.94:9999/{{item.pic}}"
            alt=""
            width="100%"
          />
          <ion-card-header>
            <ion-card-title>{{item.title}}</ion-card-title>
            <ion-card-subtitle>{{item.details}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="primary">￥{{item.price}}</ion-label>
            <ion-button [routerLink]="['/detail',{lid:item.pid}]">
              查看详情
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-icon slot="start" name="desktop-outline"></ion-icon>
    <ion-label>热销单品/3F</ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of res.topSaleItems; let i=index">
        <ion-card>
          <img
            src="http://101.96.128.94:9999/{{item.pic}}"
            alt=""
            width="100%"
          />
          <ion-card-header>
            <ion-card-title>{{item.title}}</ion-card-title>
            <ion-card-subtitle>{{item.details}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="primary">￥{{item.price}}</ion-label>
            <ion-button [routerLink]="['/detail',{lid:item.pid}]">
              查看详情
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row style="text-align: center">
      <ion-col>
        <img src="http://101.96.128.94:9999/img/footer/icon1.png" alt="" />
      </ion-col>
      <ion-col>
        <img src="http://101.96.128.94:9999/img/footer/icon2.png" alt="" />
      </ion-col>
      <ion-col>
        <img src="http://101.96.128.94:9999/img/footer/icon3.png" alt="" />
      </ion-col>
      <ion-col>
        <img src="http://101.96.128.94:9999/img/footer/icon4.png" alt="" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
